*.log filter=lfs diff=lfs merge=lfs -text
.log filter=lfs diff=lfs merge=lfs -text
results/real_world/road-NY_results.log filter=lfs diff=lfs merge=lfs -text
results/real_world/road-BAY_results.log filter=lfs diff=lfs merge=lfs -text
